<style>
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	}	h1{ margin-top: 5%;
		margin-bottom: 60px;

		text-align:center; color: black; font-size:25px;
	}
.ourmenu{
	
	width: auto;
	text-align: center;
     justify-content:center;
    font-family: Ink free;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}
.ourmenu .dish
{   border: 3px solid black;
	background-color: grey;
	margin: 5px;
	margin-bottom: 50px;
	width:400px;
	padding:20px;
	line-height: 20px;
	position: relative;
}  
h2
{
	
	color: black;
	width: 80px;
	
}
h3
{
	background-color: red;
	color: black;
	width: 80px;
	
	
}
h4
{
	background-color: green;
	color: black;
	width: 80px;
	
	
}

</style>